.contactLeft{
    background-color: #f5f5f5;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    max-width: 40%;
    padding-left: .25rem ;
    padding-right: .25rem;
 h1,  h2{text-align: center;}

}